@import "./mixins";
@import "./variables.scss";
@import "./Navbar";
@import "./Presentation.scss";

body{
    font-family: 'Raleway', sans-serif;
    .sectionTitle {
        font-size: 26px;
        color: $blue;
        h2 {
            font-weight: 400;
        }
    }
}
