.About {
  padding-top: 80px;
  .presentationContainer {
    padding: 20px 0px;
    display: flex;
    @include tabletteAndLess {
      flex-direction: column;
    }
    .pictureSection {
      .profilePicture {
        width: 330px;
        padding: 0px 40px;
        @include onlySmartphone {
          width: 200px;
        }
      }
    }
    .presentation {
      padding: 0px 20px;
      .presentationAbout {
        text-align: start;
        color: $lightBlueGreen;
        font-weight: 500;
        @include tabletteAndLess {
          text-align: center;
        }
        @include onlyTablette {
          font-size: 20px;
        }
        @include onlySmartphone {
          font-size: 14px;
        }
      }
      .downloadCVButton {
        display: flex;
        justify-content: center;
  
        .downloadCVLink {
          margin: 14%;
          text-decoration: none;
          font-size: 16px;
          background-color: $lightBlueGreen;
          color: #fff;
          padding: 15px 40px;
          border-style: none;
          border-radius: 15px;
          font-family: "Raleway";
          transition-duration: 300ms;
          cursor: pointer;
          @include tabletteAndLess {
            margin: 50px;
          }
          &:hover {
            color: $lightBlueGreen;
            background-color: $blue;
            font-weight: 700;
            scale: 1.1;
          } 
        }
      }
    }
  }
  .mediaIcons {
    display: flex;
    margin: 50px 120px;
    .icons {
      margin-left: 20px;
      color: $lightBlueGreen;
      font-size: 26px;
      cursor: pointer;
      transition-duration: 150ms;
      &:hover {
        scale: 1.3;
      }
    }
  }
}